.box1{
    width: 100%;
    background-image:linear-gradient(to right, red,green,yellow);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
}

.box2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.list{
    display: flex;
    justify-content: center;
    width: 800px;
    border: 2px solid red;
    border-radius: 25px;
    background-color: turquoise;
    font-weight: bold;
}

.box3{
    margin-top: 25px;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 25px;
}

.box4{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box5{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.card{
    width: 350px;
    height: 50px;
    padding: 25px;
    background-color: aqua;
    border: 2px solid green;
    border-radius: 20px;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.box6{
    margin-top: 25px;
    background-image: linear-gradient(to right,red,yellow,red);
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
}

.box7{
    margin-top: 25px;
    height: 200px;
    background-image: radial-gradient(blue,aqua,green);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards{
    height: 100px;
    width: 200px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 25px;
    color: brown;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.box8{
    width: 1250px;
    margin-top: 15px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.card1{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    color: white;;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    grid-column: 1/5;
}

.card2{
    background-color: lightgreen;
    height: 70px;
    width: 360px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.card3{
    background-color: lightblue;
    height: 70px;
    width: 360px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.card5{
    background-color: blue;
    height: 70px;
    width: 360px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.card4{
    background-color: black;
  color: white;
  height: 175px;
  width: 155px;
  text-decoration: underline;
  grid-column-start: 4;
  grid-row: 2 / 8;
}

.card6{
    height: 100px;
    background-color: orange;
    grid-column: 1/4;

}

.card7{
    grid-column: 1/5;
    background-color: aqua;
    text-align: center;
    font-size: x-large;
    font-size: x-large;
    font-weight: bold;
}